[submodule "repos/flowmark"]
	path = repos/flowmark
	url = https://github.com/jlevy/flowmark.git
[submodule "repos/rust-porting-playbook"]
	path = repos/rust-porting-playbook
	url = https://github.com/jlevy/rust-porting-playbook.git
[submodule "repos/homebrew-flowmark"]
	path = repos/homebrew-flowmark
	url = https://github.com/jlevy/homebrew-flowmark.git
